@model IEnumerable<Product>

<div class="text-center">
    <h6 class="display-6">Show Case</h6>
</div>

<div class="row">
    @foreach (var prd in Model)
    {
        <div class="col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@prd.ProductName</h5>
                    <p class="card-text">@prd.Price.ToString("c")</p>
                    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Update" asp-route-id="@prd.ProductID">Edit</a>

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div class="form-check form-switch">
                            <input type="hidden" name="productId" value="@prd.ProductID" />
                            <input type="checkbox" class="form-check-input" checked="@prd.ShowCase" disabled />
                            <label class="form-check-label">Showcase</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>